body {
 background-image: url("EmuGames (1).png");
 background-repeat: no-repeat;
 background-color: 5D17EB;
 background-size: cover;
 background-position: center center;
 background-attachment: fixed;

}
