body {
 background-image: url("EmuGames (1).png");
 background-repeat: no-repeat;
 background-color: 5D17EB;
 background-size: contain;
 background-position: center center;
 background-attachment: fixed;
}
.botão1 {
 position: relative;
 background-color: #19006b;
 border-radius: 30px;
 width: 240px;
 height: 100px;
 top:500px;
 text-align: center;
 top: 480px;
}
@font-face {
  font-family: font1;
  src: url(SuperMario256.ttf);
}

.text1 {
 position: relative;
 color: white;
 font-family: font1;
 font-size: 180%;
 top: 30px;
}
