body {
 background-image: url("EmuGames (1).png");
 background-repeat: no-repeat;
 background-color: 5D17EB;
 background-size: contain;
 background-position: center center;
 background-attachment: fixed;
}
.botão1 {
 background-color: #19006b;
 border-radius: 10px;
}
